# __Heroes Of Pymoli__

### Heroes Of Pymoli Analysis
From analyzing the purchases and demographics of Heroes Of Pymoli game users, some overall findings can be drawn from the following summaries.


#### Obserable Trends
1. While of the majority users are 15-29 years old, age does not seem to influence purchase totals. For examples, the average purchase from 10-14 years old is \\$2.96 and 40+ years old is \\$2.94.

2. Gender on the other hand, does seem to influence purchase totals. For example while users that identity as Female and Other/Non-Disclosed represents only 15.97% of users they spend on average \\$0.40+ more, which scales to 9-11% more than Male users.

3. The popularity of items for purchase does not determine most profitable. In fact the price of items like the "Singed Scapel" was purchased less, but made more profit than others because of it's price.

In [42]:
#import python library
import pandas as pd

#specifying data
pymoliheroes_file = "Resources/purchase_data.csv"

#reading files into pandas
pymoli_heroes = pd.read_csv(pymoliheroes_file)

## _Player Count_

In [43]:
#calculate total number of players
playercount = len(pymoli_heroes["SN"].unique())

In [44]:
#create and print player count table
player_count = pd.DataFrame([
    {"Total Players": playercount}])
player_count.style.set_properties(**{'text-align':'left'}).hide_index()

## _Purchasing Analysis (Total)_

In [45]:
#calculate number of items, average price, purchase count, and total revenue
purchaseitems = len(pymoli_heroes["Item ID"].unique())
averageprice = pymoli_heroes["Price"].mean()
purchasecount = pymoli_heroes["Purchase ID"].count()
totalrevenue = pymoli_heroes["Price"].sum()

In [46]:
#create purchasing analysis table
purchasing_analysis = pd.DataFrame([
    {"Number of Unique Items": purchaseitems,
     "Average Price": averageprice,
     "Number of Purchases": purchasecount,
     "Total Revenue": totalrevenue}])

In [47]:
#format and print purchasing analysis table
purchasing_dict = {'Average Price':'${0:,.2f}','Total Revenue':'${0:,.2f}'}
purchasing_analysis.style.format(purchasing_dict).set_properties(**{'text-align':'left'}).hide_index()

## _Gender Demographics_

In [48]:
#calculate number and percentage of members by gender
pymolicount = pymoli_heroes.groupby("Gender")
heroes_gender = pymolicount.nunique()["SN"]
pymoligender_percentage = (heroes_gender / playercount * 100)

In [49]:
#create table, add column titles, and place data
pymoli_gender = pd.DataFrame({"Total Count": heroes_gender, "Percentage of Players": pymoligender_percentage})

#sort by total count and format table to print
pymoli_gender.sort_values(['Total Count'], ascending=False).style.format(
    {"Percentage of Players":"{:.2f}%"}).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])

## _Purchasing Analysis (Gender)_

In [50]:
#create dataframe for purchasing analysis by gender
purchase_count = pymoli_heroes.groupby('Gender').agg({
    'Purchase ID':['count'],
    'Price':['mean','sum']})

#rename column titles and create new datasets
purchase_count.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

#calculate the average purchase per pymoli user column
purchase_count["Avg Total Purchase per Person"] = purchase_count["Total Purchase Value"]/pymoli_gender["Total Count"]

In [51]:
#format purchasing count by gender summary table
purchasecount_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}',
               'Avg Total Purchase per Person':'${0:,.2f}'}
purchase_count.style.format(purchasecount_dict).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])

## _Age Demographics_

In [52]:
#create custom ranges and labels for groupby based on user age
ageranges = [0,9.99999,14,19,24,29,34,39,99999]
agelabels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [53]:
#pull per student budget data from summary table and place into ranges
agedemographics = pymoli_heroes["Ages"]=pd.cut(pymoli_heroes["Age"], ageranges,labels=agelabels)

In [54]:
#calculate and place the count and percentage of users by age
agedemographics_sum = pymoli_heroes.groupby("Ages")
agedemo = agedemographics_sum["SN"].nunique()
agedemoper = agedemo/playercount *100

In [55]:
#create and rearrange dataframe of pymoli gender data summary table
pymoliage_demo = pd.DataFrame(
    {"Total Count": agedemo,
     "Percentage of Players": agedemoper})

#format age demographics summary table
pymoliagedemo_dict = {'Percentage of Players':'{0:,.2f}%'}
pymoliage_demo.style.format(pymoliagedemo_dict).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])

## _Purchasing Analysis (Age)_

In [56]:
#calculate purchases analysis by age
purchasecount_age = agedemographics_sum["Purchase ID"].count()
avgpurchasecount_age = agedemographics_sum["Price"].mean()
totalpurchasecount_age = agedemographics_sum["Price"].sum()

#calculate the average purchase analysis by user age column
purchaseage_analysis = totalpurchasecount_age/agedemo

In [57]:
#create and place data for purchase analysis by age summary table
purchasecountage_sum = pd.DataFrame(
    {"Purchase Count": purchasecount_age,
     "Average Purchase Price": avgpurchasecount_age,
     "Total Purchase Value": totalpurchasecount_age,
     "Avg Total Purchase per Person": purchaseage_analysis})

#format and print purchasing analysis by age table
purchasecountage_sum.index.name= "Age Ranges"
purchasecountage_dict = {'Average Purchase Price':'${0:,.2f}',
                         'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
purchasecountage_sum.style.format(purchasecountage_dict).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])

## _Top Spenders_

In [58]:
#find and calculate top spenders
topspenders = pymoli_heroes.groupby(["SN"])
spenderpurchases = topspenders["Purchase ID"].count()
spenderpurchaseprice = topspenders["Price"].mean()
spenderpurchasecosts = topspenders["Price"].sum()

In [59]:
#create dataframe and place data
topspenders_sum = pd.DataFrame({"Purchase Count": spenderpurchases,
                                "Average Purchase Price": spenderpurchaseprice,
                                "Total Purchase Value": spenderpurchasecosts})
topfive = topspenders_sum.sort_values(by="Total Purchase Value", ascending=False).head(5)

In [60]:
#format top spenders summary table
topspenders_dict = {"Average Purchase Price":'${0:,.2f}',"Total Purchase Value":'${0:,.2f}'}
topfive.style.format(topspenders_dict).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])

## _Most Popular Items_

In [61]:
#find and calculate most popular items
mostpopular = pymoli_heroes.groupby(["Item ID","Item Name"])
popularpurchases = mostpopular["Item ID"].count()
popularprice = mostpopular["Price"].mean()
popularcosts = mostpopular["Price"].sum()

In [62]:
#create dataframe and place data
mostpopular_sum = pd.DataFrame({"Purchase Count": popularpurchases,
                                "Item Price": popularprice,
                                "Total Purchase Value": popularcosts})
topitems = mostpopular_sum.sort_values(by="Purchase Count", ascending=False).head(5)

In [63]:
#format most popular items summary table
topitems_dict = {"Item Price":'${0:,.2f}',"Total Purchase Value":'${0:,.2f}'}
topitems.style.format(topitems_dict).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])

## _Most Profitable Items_

In [64]:
#find and sort the most profitable items
mostprofit = mostpopular_sum.sort_values(by="Total Purchase Value", ascending=False).head(5)

#format most profitable items summary table
mostprofit_dict = {"Item Price":'${0:,.2f}',"Total Purchase Value":'${0:,.2f}'}
mostprofit.style.format(mostprofit_dict).set_properties(**{'text-align':'center'}).set_table_styles([
    {'selector': 'th','props':[('text-align','left')]},
    {'selector': '.col_heading','props':[('text-align','left')]},
    {'selector': '.row_heading','props':[('text-align','left')]}])