# __Heroes Of Pymoli__

In [6]:
#import python library
import pandas as pd

#specifying data
pymoliheroes_file = "Resources/purchase_data.csv"

#reading files into pandas
pymoli_heroes = pd.read_csv(pymoliheroes_file)

## _Player Count_

In [25]:
#calculate total number of players
playercount = len(pymoli_heroes["SN"].unique())

In [29]:
#create and print player count table
player_count = pd.DataFrame([
    {"Total Players": playercount}])
player_count.style.hide_index()

## _Purchasing Analysis (Total)_

In [42]:
#calculate number of items, average price, purchase count, and total revenue
purchaseitems = len(pymoli_heroes["Item ID"].unique())
averageprice = pymoli_heroes["Price"].mean()
purchasecount = pymoli_heroes["Purchase ID"].count()
totalrevenue = pymoli_heroes["Price"].sum()

In [43]:
#create purchasing analysis table
purchasing_analysis = pd.DataFrame([
    {"Number of Unique Items": purchaseitems,
     "Average Price": averageprice,
     "Number of Purchases": purchasecount,
     "Total Revenue": totalrevenue}])

In [44]:
#format and print purchasing analysis table
purchasing_dict = {'Average Price':'${0:,.2f}','Total Revenue':'${0:,.2f}'}
purchasing_analysis.style.format(purchasing_dict).hide_index()

## _Gender Demographics_

In [157]:
#calculate number and percentage of members by gender
pymolicount = pymoli_heroes.groupby("Gender")
heroes_gender = pymolicount.nunique()["SN"]
pymoligender_percentage = (heroes_gender / playercount * 100)

In [158]:
#create table, add column titles, and place data
pymoli_gender = pd.DataFrame({"Total Count": heroes_gender, "Percentage of Players": pymoligender_percentage})

#sort by total count and format table to print
pymoli_gender.sort_values(['Total Count'], ascending=False).style.format({"Percentage of Players":"{:.2f}%"})

## _Purchasing Analysis (Gender)_

In [169]:
#
purchase_count = pymoli_heroes.groupby('Gender').agg({
    'Purchase ID':['count'],
    'Price':['mean','sum']})

In [170]:
purchase_count

                      Purchase ID     Price
                            count      mean      sum
Gender
Female                        113  3.203009   361.94
Male                          652  3.017853  1967.64
Other / Non-Disclosed          15  3.346000    50.19