# __Heroes Of Pymoli__

### Heroes Of Pymoli Analysis



#### Obserable Trends
* 

#### Future Study
*

In [4]:
#import python library
import pandas as pd

#specifying data
pymoliheroes_file = "Resources/purchase_data.csv"

#reading files into pandas
pymoli_heroes = pd.read_csv(pymoliheroes_file)

## _Player Count_

In [5]:
#calculate total number of players
playercount = len(pymoli_heroes["SN"].unique())

In [6]:
#create and print player count table
player_count = pd.DataFrame([
    {"Total Players": playercount}])
player_count.style.set_properties(**{'text-align':'left'}).hide_index()

## _Purchasing Analysis (Total)_

In [7]:
#calculate number of items, average price, purchase count, and total revenue
purchaseitems = len(pymoli_heroes["Item ID"].unique())
averageprice = pymoli_heroes["Price"].mean()
purchasecount = pymoli_heroes["Purchase ID"].count()
totalrevenue = pymoli_heroes["Price"].sum()

In [8]:
#create purchasing analysis table
purchasing_analysis = pd.DataFrame([
    {"Number of Unique Items": purchaseitems,
     "Average Price": averageprice,
     "Number of Purchases": purchasecount,
     "Total Revenue": totalrevenue}])

In [9]:
#format and print purchasing analysis table
purchasing_dict = {'Average Price':'${0:,.2f}','Total Revenue':'${0:,.2f}'}
purchasing_analysis.style.format(purchasing_dict).set_properties(**{'text-align':'left'}).hide_index()

## _Gender Demographics_

In [10]:
#calculate number and percentage of members by gender
pymolicount = pymoli_heroes.groupby("Gender")
heroes_gender = pymolicount.nunique()["SN"]
pymoligender_percentage = (heroes_gender / playercount * 100)

In [11]:
#create table, add column titles, and place data
pymoli_gender = pd.DataFrame({"Total Count": heroes_gender, "Percentage of Players": pymoligender_percentage})

#sort by total count and format table to print
pymoli_gender.sort_values(['Total Count'], ascending=False).style.format({"Percentage of Players":"{:.2f}%"}).set_properties(**{'text-align':'left'})

## _Purchasing Analysis (Gender)_

In [12]:
#
purchase_count = pymoli_heroes.groupby('Gender').agg({
    'Purchase ID':['count'],
    'Price':['mean','sum']})

In [13]:
purchase_count.style.set_properties(**{'text-align':'left'})