# __PyCity Schools__

### PyCity Schools Analysis

After analyzing the math and reading scores of 15 schools within the PyCity School District, some general conclusions can be drawn from the following summaries.

#### Obserable Trends
* School budgets and spending per student does not seem to have an impact on student's success, but school size does. By comparing the top and worst performing schools, the top schools spent an average of 606.40 per student and the worst schools actually spent more with an average of 646.60 per student. The school size of these schools though does apear to have an influence, the top schools have an average of 1,641 students and the worst schools have an average of 3,852 students.

* The school type also appears to have an affect on the success of their students, but this may be mainly because of the school size trends of the Charter and Distrcit schools. The Charter schools have an average of 1,524 students and the District schools have an average of 3,852 students. Further information would be required to analyze whether Charter are actually better than District schools.

#### Future Study
* More information, i.e. other subject grades, classroom sizes, budget allocations, faculty demographics, and extracurricular activities would be interesting information to analyze and view trends between the Charter and Distrcit schools.

In [143]:
#import python libraries
import pandas as pd

#specifying data
schooldata_file = "Resources/schools_complete.csv"
studentdata_file = "Resources/students_complete.csv"

#reading files into pandas
school_data = pd.read_csv(schooldata_file)
student_data = pd.read_csv(studentdata_file)

#combining data
pycity_data = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])

## _District Summary_

In [144]:
#calculate total number of schools, numbers, and budget
school_count = len(pycity_data["School ID"].unique())
student_count = len(pycity_data["Student ID"].unique())
district_budget = school_data["budget"].sum()

#calculate average math and reading score
averagedistrict_math = pycity_data["math_score"].mean()
averagedistrict_read = pycity_data["reading_score"].mean()

#calculate percentage of students passing math scores, passing reading scores, and both
passingmath = (pycity_data["math_score"] >= 70).sum()/student_count
passingreading = (pycity_data["reading_score"] >= 70).sum()/student_count
passingoverall = ((pycity_data["math_score"] >= 70) & (pycity_data["reading_score"] >= 70)).sum() / student_count

In [145]:
#create district summary table
district_summary = pd.DataFrame([
    {"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": district_budget,
     "Average Math Score": averagedistrict_math,
     "Average Reading Score": averagedistrict_read,
     "% Passing Math": passingmath,
     "% Passing Reading": passingreading,
     "% Overall Passing": passingoverall}
])

In [146]:
#format district summary table
district_dict = {'Total Students': '{0:,.0f}', 'Total Budget':'${0:,.2f}',
               '% Passing Math': '{:%}', '% Passing Reading': '{:%}', '% Overall Passing': '{:%}'}
district_summary.style.format(district_dict).set_properties(**{'text-align':'left'}).hide_index()

## _School Summary_

In [147]:
#create dataframe for school summary analysis
school_summary = pycity_data.groupby('school_name').agg({
    'type':['max'],
    'Student ID':['count'],
    'budget':['max'],
    'math_score':['mean'],
    'reading_score':['mean']})

#rename column titles and create new datasets
school_summary.columns = ["School Type", "Total Students", "Total School Budget", "Average Math Score", "Average Reading Score"]

#calculate the school budget per student column
school_summary["Per Student Budget"] = school_summary["Total School Budget"]/school_summary["Total Students"]

#pre-calculation for percentage of students passing math scores, passing reading scores, and both by school
passingmath_school = pycity_data.loc[pycity_data['math_score'] >= 70].groupby('school_name').count()['size']
passingread_school = pycity_data.loc[pycity_data['reading_score'] >= 70].groupby('school_name').count()['size']
passingoverall_school = pycity_data.loc[
    (pycity_data['math_score'] >= 70)
    &(pycity_data['reading_score'] >= 70)
    ].groupby('school_name').count()['size']

#calculate for percentage of students passing math scores, passing reading scores, and both by school
school_summary["% Passing Math"] = passingmath_school / school_summary["Total Students"]*100
school_summary["% Passing Reading"] = passingread_school / school_summary["Total Students"]*100
school_summary["% Overall Passing"] = passingoverall_school / school_summary["Total Students"]*100

In [148]:
#rearrange columns
school_summary = school_summary[['School Type', 'Total Students', 'Total School Budget','Per Student Budget',
       'Average Math Score', 'Average Reading Score', 
       '% Passing Math', '% Passing Reading', '% Overall Passing']]

#rename index column
school_summary.index.name= "School Name"

#format school summary table
school_dict = {'Total Students': '{0:,.0f}', 'Total School Budget':'${0:,.2f}',
               'Per Student Budget':'${0:,.2f}'}
school_summary.style.format(school_dict).set_properties(**{'text-align':'left'})

## _Top Performing Schools (By % Overall Passing)_

In [149]:
#find and sort the top five performing schools by % overall passing
topschools = school_summary.sort_values(by='% Overall Passing', ascending=False).head(5)

In [150]:
#format top school summary table
topschool_dict = {'Total Students': '{0:,.0f}', 'Total School Budget':'${0:,.2f}',
               'Per Student Budget':'${0:,.2f}'}
topschools.style.format(topschool_dict).set_properties(**{'text-align':'left'})

## _Bottom Performing Schools (By % Overall Passing)_

In [151]:
#find and sort the top five worst performing schools by % overall passing
worstschools = school_summary.sort_values(by=['% Overall Passing']).head(5)

In [152]:
#format worst school summary table
worstschool_dict = {'Total Students': '{0:,.0f}', 'Total School Budget':'${0:,.2f}',
               'Per Student Budget':'${0:,.2f}'}
worstschools.style.format(worstschool_dict).set_properties(**{'text-align':'left'})

## _Math Scores by Grade_

In [153]:
#filter data by school for an average math score by grade and school
mathgrade_nine = pycity_data[pycity_data['grade'] == "9th"].groupby('school_name').mean()['math_score']
mathgrade_ten = pycity_data[pycity_data['grade'] == "10th"].groupby('school_name').mean()['math_score']
mathgrade_eleven = pycity_data[pycity_data['grade'] == "11th"].groupby('school_name').mean()['math_score']
mathgrade_twelve = pycity_data[pycity_data['grade'] == "12th"].groupby('school_name').mean()['math_score']
mathgrade_total = pycity_data.groupby('school_name').mean()['math_score']

In [154]:
#create math scores table with columns titles and place filtered data
mathscores_grade = pd.DataFrame({"9th":mathgrade_nine,"10th":mathgrade_ten,"11th":mathgrade_eleven,"12th":mathgrade_twelve,"Overall":mathgrade_total})

In [155]:
#rename index column and print math scores by grade table
mathscores_grade.index.name= "School Name"
mathscores_grade.style.set_properties(**{'text-align':'left'})

## _Reading Scores by Grade_

In [156]:
#filter data by school for an average reading score by grade and school
readgrade_nine = pycity_data[pycity_data['grade'] == "9th"].groupby('school_name').mean()['reading_score']
readgrade_ten = pycity_data[pycity_data['grade'] == "10th"].groupby('school_name').mean()['reading_score']
readgrade_eleven = pycity_data[pycity_data['grade'] == "11th"].groupby('school_name').mean()['reading_score']
readgrade_twelve = pycity_data[pycity_data['grade'] == "12th"].groupby('school_name').mean()['reading_score']
readgrade_total = pycity_data.groupby('school_name').mean()['reading_score']

In [157]:
#create reading scores table with columns titles and place filtered data
readscores_grade = pd.DataFrame({"9th":readgrade_nine,"10th":readgrade_ten,"11th":readgrade_eleven,"12th":readgrade_twelve,"Overall":readgrade_total})

In [158]:
#rename index column and print reading scores by grade table
readscores_grade.index.name= "School Name"
readscores_grade.style.set_properties(**{'text-align':'left'})

## _Scores by School Spending_

In [159]:
#create custom ranges and labels for groupby based on school spending per student
studentspending = [0,584,629,644,675]
spendinglabels = ["<$584","$585-629","$630-644","$645-675"]

In [160]:
#pull per student budget data from summary table and place into ranges
schoolscores = school_summary["Spending Ranges (Per Student)"]=pd.cut(school_summary["Per Student Budget"], studentspending,labels=spendinglabels)

In [161]:
#calculate and place average math and reading scores, percentage of students passing math and reading, and percentage of students passing both math and reading
schoolscores_spending = school_summary.groupby("Spending Ranges (Per Student)").mean()

In [162]:
#configure table with relevant information
del schoolscores_spending['Total Students']
del schoolscores_spending['Total School Budget']
del schoolscores_spending['Per Student Budget']

In [163]:
#format scores by school spending summary table
schoolscorespending_dict = {'Average Math Score':'{0:,.2f}',
                            'Average Reading Score':'{0:,.2f}',
                            '% Passing Math':'{0:,.2f}',
                            '% Passing Reading':'{0:,.2f}',
                            '% Overall Passing':'{0:,.2f}'}
schoolscores_spending.style.format(schoolscorespending_dict).set_properties(**{'text-align':'left'})

## _Scores by School Size_

In [164]:
#create custom ranges and labels for groupby based on school size
schoolstudentsize = [0,1000,2000,5000]
sizelabels = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]

In [165]:
#pull school size data from summary table and place into ranges
schoolsize = school_summary["School Size"]=pd.cut(school_summary["Total Students"], schoolstudentsize,labels=sizelabels)

In [166]:
#calculate and place average math and reading scores, percentage of students passing math and reading, and percentage of students passing both math and reading
schoolscores_size = school_summary.groupby("School Size").mean()

In [167]:
#configure and print table with relevant information
del schoolscores_size['Total Students']
del schoolscores_size['Total School Budget']
del schoolscores_size['Per Student Budget']
schoolscores_size.style.set_properties(**{'text-align':'left'})

## _Scores by School Type_

In [168]:
#calculate and place data based on school type
schoolscores_type = school_summary.groupby("School Type").mean()

In [169]:
#configure and print table with relevant information
del schoolscores_type['Total Students']
del schoolscores_type['Total School Budget']
del schoolscores_type['Per Student Budget']
schoolscores_type.style.set_properties(**{'text-align':'left'})