# __PyCity Schools__

In [387]:
#import python libraries
import pandas as pd

#specifying data
schooldata_file = "Resources/schools_complete.csv"
studentdata_file = "Resources/students_complete.csv"

#reading files into pandas
school_data = pd.read_csv(schooldata_file)
student_data = pd.read_csv(studentdata_file)

#combining data
pycity_data = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])

## _District Summary_

In [388]:
#calculate total number of schools, numbers, and budget
school_count = len(pycity_data["School ID"].unique())
student_count = len(pycity_data["Student ID"].unique())
district_budget = school_data["budget"].sum()

#calculate average math and reading score
averagedistrict_math = pycity_data["math_score"].mean()
averagedistrict_read = pycity_data["reading_score"].mean()

#calculate percentage of students passing math scores, passing reading scores, and both
passingmath = (pycity_data["math_score"] >= 70).sum()/student_count
passingreading = (pycity_data["reading_score"] >= 70).sum()/student_count
passingoverall = ((pycity_data["math_score"] >= 70) & (pycity_data["reading_score"] >= 70)).sum() / student_count

In [389]:
#create district summary table
district_summary = pd.DataFrame([
    {"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": district_budget,
     "Average Math Score": averagedistrict_math,
     "Average Reading Score": averagedistrcit_read,
     "% Passing Math": passingmath,
     "% Passing Reading": passingreading,
     "% Overall Passing": passingoverall}
])

In [390]:
#format district summary table
district_dict = {'Total Students': '{0:,.0f}', 'Total Budget':'${0:,.2f}',
               '% Passing Math': '{:%}', '% Passing Reading': '{:%}', '% Overall Passing': '{:%}'}
district_summary.style.format(district_dict).hide_index()

## _School Summary_

In [391]:
#create dataframe for school summary analysis
school_summary = pycity_data.groupby('school_name').agg({
    'type':['max'],
    'Student ID':['count'],
    'budget':['max'],
    'math_score':['mean'],
    'reading_score':['mean']})

#rename column titles and create new datasets
school_summary.columns = ["School Type", "Total Students", "Total School Budget", "Average Math Score", "Average Reading Score"]

#calculate the school budget per student column
school_summary["Per Student Budget"] = school_summary["Total School Budget"]/school_summary["Total Students"]

#pre-calculation for percentage of students passing math scores, passing reading scores, and both by school
passingmath_school = pycity_data.loc[pycity_data['math_score'] >= 70].groupby('school_name').count()['size']
passingread_school = pycity_data.loc[pycity_data['reading_score'] >= 70].groupby('school_name').count()['size']
passingoverall_school = pycity_data.loc[
    (pycity_data['math_score'] >= 70)
    &(pycity_data['reading_score'] >= 70)
    ].groupby('school_name').count()['size']

#calculate for percentage of students passing math scores, passing reading scores, and both by school
school_summary["% Passing Math"] = passingmath_school / school_summary["Total Students"]*100
school_summary["% Passing Reading"] = passingread_school / school_summary["Total Students"]*100
school_summary["% Overall Passing"] = passingoverall_school / school_summary["Total Students"]*100

In [412]:
#rearrange columns
school_summary = school_summary[['School Type', 'Total Students', 'Total School Budget','Per Student Budget',
       'Average Math Score', 'Average Reading Score', 
       '% Passing Math', '% Passing Reading', '% Overall Passing']]

#rename index column
school_summary.index.name= "School Name"

#format school summary table
school_dict = {'Total Students': '{0:,.0f}', 'Total School Budget':'${0:,.2f}',
               'Per Student Budget':'${0:,.2f}'}
school_summary.style.format(school_dict)

## _Top Performing Schools (By % Overall Passing)_

In [414]:
#find and sort the top five performing schools by % overall passing
topschools = school_summary.sort_values(by='% Overall Passing', ascending=False).head(5)

In [420]:
#format top school summary table
topschool_dict = {'Total Students': '{0:,.0f}', 'Total School Budget':'${0:,.2f}',
               'Per Student Budget':'${0:,.2f}'}
topschools.style.format(topschool_dict)

## _Bottom Performing Schools (By % Overall Passing)_

In [421]:
#find and sort the top five worst performing schools by % overall passing
worstschools = school_summary.sort_values(by=['% Overall Passing']).head(5)

In [422]:
#format worst school summary table
worstschool_dict = {'Total Students': '{0:,.0f}', 'Total School Budget':'${0:,.2f}',
               'Per Student Budget':'${0:,.2f}'}
worstschools.style.format(worstschool_dict)

## _Math Scores by Grade_

In [432]:
#average math score by grade (9th-12th)
#conditional statement for series by grade
#group by school
#combine into df
#cleaner formatting
mathscores = pycity_data.groupby('school_name').agg({
    'math_score':['mean']})

In [433]:
mathscores = pycity_data.sort_values(by=['grade'])

In [434]:
mathscores

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
15978,15978,Victoria Hayden,F,10th,Wilson High School,85,88,5,Charter,2283,1319574
13223,13223,Melissa Thomas,F,10th,Griffin High School,81,86,4,Charter,1468,917500
7563,7563,David Ayala,M,10th,Shelton High School,72,98,2,Charter,1761,1056600
28170,28170,Cameron Perez,M,10th,Rodriguez High School,90,99,11,District,3999,2547363
7565,7565,Daniel Stanley,M,10th,Shelton High School,80,87,2,Charter,1761,1056600
...,...,...,...,...,...,...,...,...,...,...,...
8756,8756,William Duffy,M,9th,Hernandez High School,83,75,3,District,4635,3022020
26421,26421,Brandy Martinez,F,9th,Rodriguez High School,90,77,11,District,3999,2547363
8755,8755,Jody Lloyd,F,9th,Hernandez High School,72,76,3,District,4635,3022020
26398,26398,Robert Chan,M,9th,Rodriguez High School,93,62,11,District,3999,2547363
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

Reading Scores by Grade

In [ ]:
#average reading score by grade (9th-12th)

Scores by School Spending

In [ ]:
#average spending range per student
#bins= average math score, average reading score, 5passingmath, % passing reading, overall (average of other two)

Scores by School Size

In [ ]:
#above by school size

Scores by School Type

In [ ]:
#above by school type